code {
  
}

pre {
  display: inline-block;
  max-width: 100%;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;

  code {
    margin: 0 auto;
  }
}

task-snippet {
  display: inline-block;
  text-align: left;
  max-width: 100%;

  .language-selection {
    text-align: center;
    padding: 2rem;
  }
}
