task-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.8rem 0 0.6rem 0;

  .task-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .task-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .task-status {
    width: 100px;
    text-align: center;
    vertical-align: middle;

    .circle {
      padding: 15px;
      border-radius: 50%; 
    }
  }

  .task-title {
    h5 {
      margin: 0 0 0.3rem 0;
    }
  }

  .task-controls {
    width: 100px;
    
    .circle {
      padding: 15px;
      border-radius: 50%; 
    }
  }
}
