terminal {
  display: block;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  max-width: 960px;
  margin: 0 auto;

  .terminal-chrome {
    position: relative;
    background: #444;
    color: #fff;
    padding: 0.8rem;
    border-radius: 2px 2px 0 0;

    .terminal-title {

    }

    .terminal-chrome-controls {
      position: absolute;
      right: 0.6rem;
      top: 0;
      bottom: 0;

      .circle {
        display: inline-block;
        height: 1rem;
        width: 1rem;
        vertical-align: middle;
        margin: 1rem 0.2rem;
      }
    }
  }

  .terminal-content {
    padding: 0.5rem;
    background: #f5f5f5;
    border-radius: 0 0 2px 2px;

    pre {
      &::after {
        position: absolute;
        display: block;
        content: '';
        background: #fff;
        height: 1rem;
        width: 0.5rem;

        animation: blink 1s step-start 0s infinite;
        -webkit-animation: blink 1s step-start 0s infinite;
      }
    }

    @keyframes blink {
      50% {
        opacity: 0.0;
      }
    }

    @-webkit-keyframes blink {
      50% {
        opacity: 0.0;
      }
    }

    .info {
      color: #03a9f4;
    }

    .warning {
      color: #ff9800;
    }

    .error {
      color: #b71c1c;
    }
  }

  &.bash {
    .terminal-content {
      background: #000;
      color: #aaa;

      .hljs,
      .hljs-subst {
        color: #aaa;
      }

      .hljs-section {
        color: #fff;
      }

      .hljs-comment,
      .hljs-quote,
      .hljs-meta {
        color: #444;
      }

      .hljs-string,
      .hljs-symbol,
      .hljs-bullet,
      .hljs-regexp {
        color: #ffcc33;
      }

      .hljs-number,
      .hljs-addition {
        color: #00cc66;
      }

      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-link {
        color: #32aaee;
      }

      .hljs-keyword,
      .hljs-selector-tag,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: #6644aa;
      }

      .hljs-title,
      .hljs-variable,
      .hljs-deletion,
      .hljs-template-tag {
        color: #bb1166;
      }

      .hljs-section,
      .hljs-doctag,
      .hljs-strong {
        font-weight: bold;
      }

      .hljs-emphasis {
        font-style: italic;
      }

    }
  }

  &.powershell {
    .terminal-content {
      background: #01579b;
      color: #fff;

      .hljs,
      .hljs-subst {
        color: #0ff;
      }

      .hljs-string,
      .hljs-attribute,
      .hljs-symbol,
      .hljs-bullet,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-template-tag,
      .hljs-template-variable,
      .hljs-addition {
        color: #ff0;
      }

      .hljs-keyword,
      .hljs-selector-tag,
      .hljs-section,
      .hljs-type,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class,
      .hljs-variable {
        color: #fff;
      }

      .hljs-comment,
      .hljs-quote,
      .hljs-doctag,
      .hljs-deletion {
        color: #888;
      }

      .hljs-number,
      .hljs-regexp,
      .hljs-literal,
      .hljs-link {
        color: #0f0;
      }

      .hljs-meta {
        color: #008080;
      }

      .hljs-keyword,
      .hljs-selector-tag,
      .hljs-title,
      .hljs-section,
      .hljs-name,
      .hljs-strong {
        font-weight: bold;
      }

      .hljs-emphasis {
        font-style: italic;
      }
    }
  }
}
