<template>
  <div class="navbar-fixed" role="navigation">
    <nav class="red darken-4">
      <div class="nav-wrapper">
        <a route-href="route: projects" class="brand-logo">
          <i class="material-icons">call_split</i>
        </a>

        <a class="button-collapse clickable" click.delegate="sideNav = !sideNav">
          <i class="material-icons">menu</i>
        </a>

        <div class="breadcrumbs hide-on-med-and-down">
          <a route-href="route: projects" class="breadcrumb">Projects</a>
          <a href="${crumb.url}" class="breadcrumb" repeat.for="crumb of breadcrumbs.crumbs">${crumb.name}</a>
        </div>

        <ul class="right hide-on-med-and-down">
          <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
            <a href.bind="route.href">${route.title}</a>
          </li>
          <li if.bind="userManager.user">
            <a route-href="route: user; params.bind: { id: userManager.user.id }">
              <i class="mi">person</i>
              ${userManager.user.name}
            </a>
          </li>
        </ul>

        <ul class="side-nav ${sideNav ? 'active' : ''}">
          <li>
            <a route-href="route: projects">Projects</a>
          </li>
          <li repeat.for="crumb of breadcrumbs.crumbs">
            <a href="${crumb.url}">
              ${crumb.name}
            </a>
          </li>
          <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
            <a href.bind="route.href">${route.title}</a>
          </li>
          <li if.bind="userManager.user">
            <a route-href="route: user; params.bind: { id: userManager.user.id }">
              <i class="mi">person</i>
              ${userManager.user.name}
            </a>
          </li>
        </ul>

        <div id="sidenav-overlay" if.bind="sideNav" click.delegate="sideNav = false"></div>
      </div>
    </nav>
  </div>
</template>
