<template>
  <div class="icon" click.delegate="open = !open">
    <i class="mi" css="color: ${activePermissionLevel.icon.activeColour};">${activePermissionLevel.icon.glyph}</i>
  </div>
  <div class="editor-backdrop" click.delegate="open = false" if.bind="open"></div>
  <div class="editor ${open ? 'visible' : 'hidden'}">
    <ul>
      <li repeat.for="level of permissionLevels" class="${level.assign ? '' : 'disabled'}" click.delegate="level.assign && level.assign()">
        <div class="state">
          <i class="mi" if.bind="level === activePermissionLevel">check_circle</i>
        </div>
        <div class="details">
          <h5>${level.title}</h5>
          <p>${level.description}</p>
        </div>
      </li>
    </ul>
  </div>
</template>
