<template>
  <div class="icon" click.delegate="open = !open">
    <i class="mi" css="color: ${level.icon.activeColour};">${level.icon.glyph}</i>
  </div>
  <div class="editor-backdrop" click.delegate="open = false" if.bind="open"></div>
  <div class="editor ${open ? 'visible' : 'hidden'}">
    <ul>
      <li repeat.for="l of levels" class="${l.assign ? '' : 'disabled'}" click.delegate="l.assign && l.assign(user || userManager.user, project)">
        <div class="state">
          <i class="mi" if.bind="level === l">check_circle</i>
        </div>
        <div class="details">
          <h5>${l.title}</h5>
          <p>${l.description}</p>
        </div>
      </li>
    </ul>
  </div>
</template>
