<template>
  <div class="card ${task | taskCardStyle}">
    <div class="card-content">
      <div class="card-title">${task.action.name}</div>
      <p>
        ${task.metadata.description}
      </p>
      <p>
        <i class="mi">history</i> Created ${task.created | relativeTime}
      </p>
    </div>
    <div class="card-action">
      <a route-href="route: task; params.bind: { task: task.id }">View</a>
      <a href.bind="task.metadata.url" target="_blank">Info</a>
      <a class="clickable right" click.delegate="runTask(task)">Run Default</a>
    </div>
  </div>
</template>
