nav .brand-logo {
  position: static;
  padding: 0 1rem;

  i.mi,
  i.material-icons {
    margin: 0;
  }
}

nav .button-collapse i {
  font-size: 1.5rem;
  padding: 0 1rem;
}

nav .breadcrumbs {
  .breadcrumb {
    font-size: 1rem;
  }
}

.brand-logo .mi {
  padding: 0 1rem;
}

nav .breadcrumbs {
  display: inline-block;
  vertical-align: top;
  padding: 0 1rem;
}

.side-nav {
  transition: transform .3s ease;

  &.active {
    transform: translateX(0px);
  }

  li > a > i {
    height: 48px;
  }
}

nav li > span {
  padding: 0 15px;
}
